
.textarea-warp {

}

.textarea-warp textarea {
  outline:none
}
.textarea {
  resize: none;
  border-radius: 4px;
  height: auto;
  padding: 6px;
}

.textarea-warp .primary {
  border: 2px solid #5B54B7;
  background-color: #424242;
  color: #fff;
}

.textarea-warp .guest {
  
}
