.Tip__compact {
  cursor: pointer;
  background-color: #3d464d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

.Tip__card {
  padding: 10px;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(37, 40, 43, 0.2);
}

.Tip__card textarea {
  font-size: 16px;
  width: 200px;
  height: 70px;
}

.Tip__card input[type="submit"] {
  margin-top: 5px;
  font-size: large;
}


/* 自定义工具条 */
.hover-modal {
}

.hover-modal  .line-content {
  padding: 7px;
  height: 32px; 
  border-radius: 4px;
  background-color: #424242;
  display: flex;
  justify-items: center;
  align-items: center;
}

.hover-modal .fist-icon {
  border-right: 1px solid #C7C7C7;  
  padding-right: 12px;
}

.hover-modal .icon {
  color: #fff;
  margin-right: 12px;
}

/* color console */
.color-console {
  width: 120px;
  height: 80px;
  padding: 8px;
  background-color: #424242;
  border-radius: 4px;
  margin-bottom: 4px;
  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
}
.color-console .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-console .item .colors {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}